<div class="panel panel-primary" style="margin-top:5px">
    <div class="panel-heading">
        <h3>Ballot Details</h3>
    </div>
    <div class="panel-body">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Ballot ID: 
                    {{#if ballot_id}}
                        {{ballot_id}}
                    {{else}}
                        resubmitting form does not resend ballot
                    {{/if }}
                </h3>
            </div>
        </div>
        <div class="panel panel-success">
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-6">
                        <h2>Literal Ballot</h2>
                        <div id="ballot_string_1" class="alert alert-warning"></div>
                    </div>
                    <div class="col-xs-6">
                        <h2>Processed Ballot</h2>
                        <div id="ballot_string_2" class="alert alert-success">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <a class="btn btn-info" href="/mark-ballot">Continue</a>
    </div>
</div>
<div id="candidates"></div>

<script>
// ===========================================================
// Initial page load
// ===========================================================
$(function(){
    // TODO: Implement. Currently this try block does not catch syntax error on form resubmit. 
    try {
        var candidates = {{{candidates}}}
        //$("#candidates").append(JSON.stringify(candidates))

        var ballot_string_1 = {{{json ballot_string}}}
        var div_1 = display_selection1(candidates, ballot_string_1)
        $("#ballot_string_1").append(div_1)

        var ballot_string_2 = {{{json ballot_string_calc}}}
        var div_2 = display_selection2(candidates, ballot_string_2)
        $("#ballot_string_2").append(div_2)
    }
    catch(err) {
        console.log('err:',err)
        $("#ballot_status").text('Resubmitting form is disabled.')
    }
})

function sort_marks(marks_obj) {
    //console.log("sort_marks(marks_obj):", marks_obj)
    var rank_sorted = [null,null,null,null,null]
    let counter = 0
    for (let mark_key in marks_obj) {
        //console.log("mark_key:", mark_key)
        let mark_value = marks_obj[mark_key]
        //console.log("mark_value:", mark_value)
        //rank_sorted.splice(mark_value, 0, mark_key)
        let rank_index = mark_value-1
        rank_sorted[rank_index] = mark_key;
        counter++
    }
    //console.log("counter:", counter)
    var num_marks = counter + 1
    //console.log("num_marks:", num_marks)
    //console.log("rank_sorted:", rank_sorted)

    // Create object, loop rank sorted.
    var obj = {}
    for (rank_index = 0; rank_index < counter; rank_index++) {
        //console.log("rank_index:", rank_index)
        let rank_order = rank_index + 1
        //console.log("rank_order:", rank_order)
        var candidate_id = rank_sorted[rank_index]
        //console.log("candidate_id:", candidate_id)
        obj['"'+candidate_id+'"'] = rank_order
        //obj[""+candidate_id+""] = rank_order
        //obj[candidate_id] = rank_order
    }
    //console.log("obj:", obj)
    return (obj)
}
</script>
