{{!-- 
replace Templates
replace Template
replace templates
replace template
 --}}
<div>
    <h1><i class="fa fa-id-badge"></i> {{ template_count }} Templates</h1>
    {{#if message}}
        <div class="alert alert-info">
            <h1><i class="fa fa-info-circle"></i> {{ message }}</h1>
        </div>
    {{/if }}
</div>

<div>
    <a class="btn btn-success fa fa-plus" href="/templates/add/"> Add</a>
</div>

<div id="templates_container" class="corner10" style="border:0px solid purple; background-color: white; margin-bottom: 1px; margin-top:1px">
    <table id="templates_table" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>Name</th>
                <th>ID</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            {{#each templates}}
                <tr>
                    <td align="right">
                        {{math @key "+" 1}}.
                    </td>
                    <td>
                        <a class="btn btn-info fa fa-edit" href="/templates/edit/{{ this.TemplateID }}"> Edit</a>
                    </td>
                    <td>
                        {{ this.TemplateName }}
                    </td>
                    <td>
                        {{ this.TemplateID }}
                    </td>
                    <td>
                        <a class="btn btn-danger fa fa-trash" href="/templates/delete/{{ this.TemplateID }}"> Delete</a>
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>

<script>
$(document).ready(function(){
    templates_table = $('#templates_table').DataTable({
        "columnDefs": [
            { "orderable": false, "targets": [1, 4] }
        ],
        info: true,
        ordering: true,
        pageLength: 10,
        paging: false,
        responsive: true,
        searching: true,
        stateSave: false,
        order: [ 2, "asc" ]
    });
    new $.fn.dataTable.FixedHeader( templates_table );
});
</script>
